.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.semanticButton {
  margin: 10px !important;
}

.tileContainer {
  margin-top: 10px;
}

img {
  height: 100px;
  width: 100px;
  margin: 15px;
}

label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}