body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container #form {
  display: inline-flexbox;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tile #tile-container {
  text-align: center;
  padding: 12px;
  width: 95%;
  height: auto;
  display: inline-flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #F0EAD6;
}

.tile h2 {
  padding-top: 0px;
  padding-bottom: 8px;
  margin: 0px;
  text-decoration-line: underline;
}
